/*  your css code here. If applicable */
body {
    text-align: center;
}

.container {
    width: 400px;
    padding: 20px;
    margin: 50px auto;
    border: 2px solid black;
    border-radius: 30px;
    background-color: #e0e0e0;
}

.container div {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}
